<!DOCTYPE html>
<html ng-app="bgbutler">
	<head>
		<title>BGB</title>
		<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	</head>

	<body class="container">
		<div ng-controller="GameController">

			<h1>Welcome to BoardGameButler</h1>
			
			<form class="form-grop">

			<select class="form-control input-lg">
				<option>{{ selectMessage }}</option>}
				option
				<option ng-repeat="game in houseCollection">{{ game.name }} ({{ game.yearpublished }})</option>
			</select>

			<hr />

			<h6>or connect to your BGG account</h6>

			<input class="form-control input-lg" 
				   type="text"
				   name="bgguser"
				   value=""
				   placeholder="Enter your BGG username"
				   ng-model="bggUser">
				   {{ bggUser }}
			<button type="submit"
					class="btn btn-info btn-lg btn-block"
					ng-click="getBggCollection(bggUser)">Submit</button>
			</form>

			<pre class="hidden">{{ houseCollection | json }}</pre>
			<pre class="hidden">{{ bggCollection | json }}</pre>
				
		</div>

		<div class="container" ng-controller="GuideController">
			<p>guide here</p>
		</div>

	</body>
	<script src="js/jquery-1.12.0.min.js"></script>
	<script src="js/angular.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/butler.js"></script>
</html>