<h1>Welcome to BoardGameButler</h1>
			
<form class="form-grop" ng-submit="getBggCollection(bggUser)">

<select class="form-control input-lg"
		ng-model="selectedGame"
		ng-options="game.name for game in houseCollection | orderBy:'name' track by game.name">
	<option value="">{{ personalGreeting || "Choose a game" }}</option>
</select>
{{ selectedGame.name }}

<hr />

<h6>or connect to your BGG account</h6>

<input class="form-control input-lg" 
	   type="text"
	   name="bgguser"
	   value=""
	   required="required"
	   placeholder="Enter your BGG username"
	   ng-model="bggUser">
	   {{ matchInfo }}

<button type="submit"
		class="btn btn-info btn-lg btn-block"
		>{{ bggInfo.status || "Submit"}}</button>
</form>

