<a href="/"><h1 id="title">Welcome to BoardGameButler<sup>&#8482;</sup></h1></a>
<small>A website that helps you set up your favorite board games</small>
			
<select class="form-control input-lg"
		id="gameselect"
		ng-model="selectedGame",
		ng-change="gameChange()"
		ng-options="game.name for game in houseCollection | orderBy:'name' track by game.name">
	<option value="">{{ personalGreeting || "Please choose a game" }}</option>
</select>

<hr />

<a href="#"
	id="bggconnect"
	ng-click="connectbgg = !connectbgg"
	>or connect to your BGG account</a>

<form class="form-grop"
	  ng-submit="getBggCollection(bggUser)"
	  ng-show="connectbgg">

<input class="form-control input-lg" 
	   type="text"
	   name="bgguser"
	   value=""
	   required="required"
	   placeholder="Enter your BGG username"
	   ng-model="bggUser">
	   {{ matchInfo }}

<button type="submit"
		class="btn btn-info btn-lg btn-block"
		>{{ bggInfo.status || "Submit"}}</button>
</form>

<div ui-view="serving-area"></div>