h1 7 Wonders

h2 Object
p.
	During each of three Ages, players will play 6 cards to develop their cities of building cards and build their Wonders. At the end of each Age, players compare their military might with the players to their left and right. At the end of Age III, players total Victory Points (VPs) from completed buildings, military victories/defeats, and completed stages of their Wonders. The player with the most VPs wins.

h2 Setup
p For each of the three Age decks, return all cards which are not used based on the number of players to the game box. For example, in a 5-player game, the 3+, 4+, and 5+ cards are used while the 6+ and 7+ cards are returned to the game box.

p Remove the 10 purple Guild cards from the Age III deck. Shuffle these cards and randomly discard 5/4/3/2/1 cards face down to the game box based on 3/4/5/6/7 players, respectively (i.e., you will play with Guild cards equal to the number of players plus 2).

p Shuffle the decks. Each deck will have cards equal to 7 times the number of players.

p Shuffle the seven Wonder cards and deal one each player. The card and its facing determine the Wonder board given to each player as well as the side of the board to use for the game. For new players, use side A of the Wonder boards. Or if all players agree, the Wonder boards and/or sides A/B can be chosen rather than randomized.

p Give each player three small, value “1” coins which are placed on their Wonder boards. The remaining “1” and large “3” coins are set aside to form a bank.

h2 Gameplay
p The game starts with Age I, continues with Age II, and ends with Age III. At the beginning of each Age, deal 7 cards to each player (using all of the cards in that deck). Each Age is made up of 6 game turns which each have the following three steps:

h4 Step 1: Choose a card
p

h4 Step 2: Action
p Choose a card from your hand and place it face down in front of you. Place the remaining cards in your hand face down between you and the next player.
ul
	li During Age I, pass your cards to the player sitting to your left.
	li During Age II, pass your cards to the player sitting to your right.
	li During Age III, pass your cards to the player sitting to your left.

h5.subheader Action A: Build a Structure
p Most cards have a resource or coin cost in the upper left, while some cards are free.
p If a card has a cost in resources in the upper left, resources produced by your Wonder (which are not considered cards), your Brown and Gray cards and some of your Yellow cards must produce the required resources in order to build the card.
p These resources are not spent to build the card, they are available in each game turn in Step 2.

h6.subheader Commerce
p you can purchase resources from the players sitting to your left and right to supplement your own resources in order to build a card. You can purchase resources from their Brown cards and Gray cards that were available at the start of the action, and from the upper left of their Wonder boards. For each resource that you buy, you must pay 2 coins to the owner of the resource. <em>Note that if you want to buy two of a resource from another player, that player must have two of that resource in their city.</em>
	ul
		li You can’t refuse to sell a resource to another player.
		li Selling a resource does not prevent you from using it on your action.
		li Any coins you earn from selling resources cannot be spent by you during the same action

h6.subheader Chains
p  Some cards in the Age II and Age III decks have the name of a building from a previous age next to their resource cost. If you have the named building in your city, the new card can be built for free. The building name(s) in the lower right corner of a card indicate what can be built for free.

.panel
	p #[strong Note:] you may never build more than one of the same building.

p #[strong Brown cards] are buildings that produce raw materials and are either free or cost 1 coin to build. They are placed underneath the upper left corner of your Wonder board so that the resource symbol(s) on the top of each new card can be easily seen. There are no Brown cards in the Age III deck.
p #[strong Gray cards] are buildings that produce manufactured goods and are free to build. They are placed underneath the upper left corner of your Wonder board so that the resource symbol(s) on the top of each new card can be easily seen. There are no Gray cards in the Age III deck.

.panel
	p #[strong Note:] the other cards are placed face up in front of your Wonder board when built. All of this area is your city. These cards can be organized by color and overlapped to allow their names to still be viewable.
p #[strong Blue cards] are civilian buildings that score VPs equal to the number in laurels at the top.
p #[strong Green cards] are scientific buildings that each produce one of three scientific symbols which score VPs based on the quantity and combinations that you have at game end.

p #[strong Yellow cards] are commercial buildings
ul
	ul
		li In Age I, some provide you with 5 coins immediately when built. Others show resources, a coin with a 1, and one or two arrows. This indicates that when using Commerce to purchase a pictured resource from the player next to you in that direction will cost you 1 coin instead of 2.
		li In Age II, some produce one of your choice of resources, separated by slashes. Others provide a number of coins equal to the number of Brown or Gray cards in your city and in your neighbors’ cities.
		li In Age III, the Yellow cards have a picture of a card or wonder with coins and laurels. These provide coins when played and produce VPs at game end.

p #[strong Red cards] are military buildings with 1-3 shields that are compared at the end of each Age to provide Victory and Defeat VP tokens.
p #[strong Purple cards] are guilds that produce VPs at game end. Guilds are only found in the Age III deck.

h5.subheader Action B: Build a Stage of Your Wonder

p If you are able to pay the cost in resources to build the next stage of your Wonder, from left to right, place your card face down halfway under that stage to indicate that it has been built.
p Finishing your Wonder, or even starting it, is optional. You can win without doing so. You can build multiple stages of your Wonder during the same Age.

h5.subheader Action C: Discard to Gain 3 Coins

h4 Step 3: Move on to the Next Hand
p Take the hand of cards passed to you by your neighbor.

h4 End of an Age
p After the sixth card play, all players discard their seventh card face down to the discard pile.
p The Age is now over and military conflicts are resolved:
	ul
		li Each player totals the shields on their red cards and completed Wonder stages. These totals are compared to the players sitting to either side of each player.
		li If you have more shields than your neighbor, you get a Victory token corresponding to the Age just completed (+1 for Age I, +3 for Age II, or +5 for Age III).
		li If you have less shields than your neighbor, you get a Defeat token (-1 VP).
		li If you are tied with your neighbor, neither of you gets a token.
p Each player will therefore get 0, 1, or 2 tokens which are placed on his Wonder board.

h2 End of the Game
p After the conflict tokens have been handed out for Age III, VPs are totaled in the following order (using the scorecard if desired): 
	ol
		li Add your Victory and Defeat tokens from the military conflicts.
		li Score 1 VP for every 3 coins in your possession (rounded down).
		li Score VPs from completed stages of your Wonder.
		li Score VPs from your Blue cards.
		li Score VPs from Yellow cards from Age III that have a picture of a card or wonder with coins and laurels.
		li Score VPs from Purple cards based on the configuration of your city and your neighbors’ cities.
		li Your Green cards score VPs in two ways. These VPs are cumulative:
			ul
				li For each of the 3 symbols, gain VPs equal to the number of identical symbols squared (e.g., if you have three of one symbol, you gain 9 VPs).
				li Also, for each set of all three symbols, gain 7 VPs.

	p The player with the most VPs wins the game. If tied, the tied player with the most coins is the winner. If still tied, the win is shared. 

h2 Errata
p The yellow Lighthouse card from Age III counts itself when gaining coins as it comes into play. The text on page 12 of the rules is incorrect. 
p For the Hanging Gardens (B), stage 2, the playing of the 7th card is handled as a separate action, so you can re-use resources used on the 6th card. And the 6th card could help you build the 7th card. 