h1 Among The Stars

h2 Quick Setup Table

Table
	thead
		tr
			th # of Players
			th # of Basic Locations
			th Total # of '3' cards
			th Total # of '4' cards
			th # of Special Locations
			th Total Deck Size
	tbody
		tr
			td 2
			td 15
			td 45
			td 15
			td 36
			td 96
		tr
			td 3
			td 15
			td 45
			td -
			td 27
			td 72
		tr
			td 4
			td 15
			td 45
			td 15
			td 36
			td 96
		tr
			td 5
			td 20
			td 60
			td 20
			td 40
			td 120
		tr
			td 6
			td 24
			td 72
			td 24
			td 48
			td 144

h2 Proposed Basic Location Cards Sets

.row.ats
	.small-12.medium-4.large-3.columns
		h5.subheader Escalation
		span.m Turret
		span.m Minefield
		span.m Shield Generator
		span.m Fighter Launch Bay
		span.m High Security Area
		span.a Escape Pods
		span.a Docking Bay
		span.a Security Station
		span.b Factory
		span.b Energy Market
		span.b Customs
		span.d Foreign Affairs Office
		span.d Embassy Offices
		span.r Plaza
		span.r Restaurant

	.small-12.medium-4.large-3.columns
		h5.subheader Energy Hungry
		span.m Experimental Weapon
		span.m Fighter Launch Bay
		span.m Turret
		span.a Medical Facility
		span.a Crew Quarters
		span.a Hydroponics
		span.b Energy Market
		span.b Trade Show
		span.b Shopping Centre
		span.d Ambassadorial Sector
		span.d Alliance Information Point
		span.d Council Room
		span.r Holographic Display Area
		span.r Race Track
		span.r Plaza

	.small-12.medium-4.large-3.columns
		h5.subheader Peace Among the Stars
		span.m Shield Generator
		span.m Minefield
		span.a Transportation Platform
		span.a Hydroponics
		span.a Security Station
		span.b Alien Bazaar
		span.b Trade Show
		span.b Shopping Centre
		span.d Embassy Offices
		span.d Ambassadorial Sector
		span.d Alliance Information Point
		span.d Ambassador's Quarters
		span.r Holographic Display Area
		span.r Race Track
		span.r Garden

	.small-12.medium-4.large-3.columns
		h5.subheader Money Hungry
		span.m Fighter Launch Bay
		span.m Experimental Weapon
		span.m High Security Area
		span.a Command Centre
		span.a Medical Facility
		span.a Transportation Platform
		span.a Docking Bay
		span.b Customs
		span.b Energy Market
		span.b Factory
		span.d Ambassadorial Sector
		span.d Foreign Affairs Office
		span.d Alliance Information Point
		span.r Restaurant
		span.r Race Track

	.small-12.medium-4.large-3.columns.end
		h5.subheader Explosive Growth
		span.m Turret
		span.m Minefield
		span.m Experimental Weapon
		span.a Transportation Platform
		span.a Crew Quarters
		span.a Escape Pods
		span.b Customs
		span.b Energy Markey
		span.b Shopping Centre
		span.d Council Room
		span.d Embassy Offices
		span.d Alliance Information Point
		span.r Holographic Display Area
		span.r Fast Food Drive In
		span.r Plaza

h2 Turn Overview

ol
	li All players select a card from their hand and pass the rest (Left Years 1 &amp; 3, Right Years 2 &amp; 4) to the next player.
	li All selected cards are revealed simultaneously. The player who currently has the most VP announces which action they’re taking. In case of a tie, the player with the most Credits goes first. If there is still a tie, the order among them is chosen randomly.

h5 Available Actions

Table
	tbody
		tr
			th(width="20%") Build Location
			td Pay the cost (including energy from reactors within range) and place the Location Card in the Station. The effect does not yet happen.
		tr
			th Invite Ambassador
			td Pay the cost, discard location card, take Foreign Ambassador Card, and place a Bureau in the Station (if needed), do not yet apply Ambassador’s ability. Draw a new Ambassador.
		tr
			th Play Conflict
			td Pay the cost but do not yet apply the effect.
		tr
			th Build Reactor
			td Pay cost, discard location card, and place Reactor (with energy cubes) in Station (adjacent location).
		tr
			th Discard
			td Discard location card Face Up and gain 3 credits.

p After each player has performed their action, players check abilities using exact same order. Each one applies any necessary effects and updates the scoring track with any VP gained.