h1 Carcassonne

h2 Setup
p Each player begins with 8 meeples in the colour of their choice (with one going on the score track) and the starting tile is placed in the center of the table. All the other tiles are placed face down in stacks within easy reach of all the players. 

h2 How to Play

p During their turn, players work through the following steps:

h4 MUST draw and place a tile
p The tile must be placed adjacent to another tile or tiles but fields, cities and roads on the placed tile must connect to fields, cities and roads on the adjacent tiles. For example; A field edge on the tile you place can’t block a road or unfinished city. If for some reason, the person can’t fit the drawn tile anywhere on the table, a new one is drawn.
h4 MAY deploy a Meeple on the tile just placed
p Your meeples/followers can represent a Knight, a Thief, a Farmer or a Monk and they are placed as follows:
ul
	li Knights are deployed into city spaces.
	li Thieves are deployed onto roads.
	li Farmers are placed in fields.
	li And finally Monks are placed in cloisters (the stand alone buildings).

p These followers are how you score in the game and they work in different ways (more of which to follow).

p If any of the in game scoring conditions are met, then the score is totalled and attributed to the relevant player or players.

h5.subheader In game scoring is as follows
ul
	li Once a #[strong road] has been completed by being blocked at both ends by a city, cloister or crossing, a player with a thief on the road will earn a point for each segment of the road. If more than one player has thieves on the road then the points go to the person with the majority of thieves, otherwise each player gets the full point value. The Meeple is then placed back in the relevant players active pool.
	li When a #[strong city] is finished off and is surrounded by walls, a player with a knight inside will earn 2 points per segment plus a further two points for any tiles with a pennant printed on it (exception: a two tile city will only score two points and 1 point per pennant). Again if more than one player has Knights inside, the majority wins or both get the full value. The Meeple is then placed back in the relevant players active pool.
	li #[strong Cloisters] are finished for scoring purposes when they are totally surrounded by 9 tiles, scoring the owner of the single Monk Meeple 9 points. The Meeple is then placed back in the relevant players active pool.
p The only area not scored during the game is fields/farms and they will be done at the end of the game.


h2 End of Game

p The game ends at the end of the turn where the last tile is placed.
ul
	li Incomplete roads score one point per segment.
	li Incomplete cities are scored at half the in game value (i.e. One point per segment and per pennant.
	li Incomplete cloisters are scored at one point per surrounding tiles.
	li Finally the #[strong farms] are scored as follows:
		ul
			li Players with farmers in a field will score 3 points for each completed city that the farm reaches without being blocked off. The size of the farm and of the city does not matter. As with the road and city scoring, the player with the majority of farmers in a field/farm will score the points and any tie will see all players with the equal most farmers score the full points value.
p Then the player with the most points on the tracker is victorious.
