h1 Citadels

h2 Object
p Each player leads a city and seeks to increase its prosperity by influencing powerful characters and building new city districts.  The player with the most points worth of districts at game end wins.

h2 Setup
ol
	li Shuffle the eight-card Character Deck after removing the characters that are marked with a white star.
	li Shuffle the District Deck after removing the districts marked with a white star.
	li Deal 4 district cards to each player.
	li Give 2 gold to each player.  Place the remaining gold in a ‘bank’.
	li Randomly give the Crown piece to a player.

h2 Playing the Game
p With 4-6 players, there are four steps to each round:

h3 Step One
ul
	li Remove Characters: Draw a random character card and place it face down in the middle of the table without looking at it.
	li Then draw character cards based on the number of players (4 players = 2 cards, 5 players = 1 card, 6 players = 0 cards) and place them face up in the middle of the table.  If the King is drawn as a face up card, replace it with another character card and then shuffle the King back into the deck.
	li The cards placed in the middle of the table will not be used in this round.

h3 Step Two
p Choose Characters: The player with the Crown looks at the remaining cards in the Character Deck, secretly chooses one, and passes the deck to the left.  This continues until each player has chosen a card.  The remaining, unchosen card is placed face down in the middle of the table.

h3 Step Three
ul
	li Player Turns: The player with the Crown calls out the name of each character in numerical order, proceeding to the next one if no one has a given card.
	li When your card is called, place it face up in front of you and take your turn.  Then the next character is called, etc.
	li On your turn, you must first take an action, and then you may build a district card.
	li 1) Take an Action – do one of the following:
		ul
			li Take 2 gold from the bank
			li Or draw two district cards, keep one of your choice, and put the other on the bottom of the deck.
	li 2) Build a District Card – you may build one district card, playing it in front of you after paying its cost (the number of gold coins in the upper left) in gold to the bank.  You may choose not to build.
	li You may not build two identical districts (two Castles, two Markets, etc.).
	li While building an eighth district triggers the game end, players may build more than eight districts.
	li Each character has a special ability, also called its ‘power’.  You may use your character’s power once during your turn.
	li Characters who receive gold for certain types of districts may use their powers at any point in their turn (i.e., before building (to use the gold for building) or after building (to gain income from newly built districts)).

h3 Step Four - End of Round
p After all character cards have been called, gather the character cards and shuffle them for the next round.

h3 Game End
p When a player builds his eighth district, the game ends after the current round is completed.

p Players receve points for the following:
ul
	li Points equal to the total combined gold cost of all district cards in a player’s city.
	li 3 points if a player has at least one district in each of the 5 colors.
	li 4 points for the first player to build eight districts.
	li 2 points for every other player who managed to build eight districts.
The player with the most points is the winner.

h3 Shorter Game
p Play to seven districts instead of eight.

h3 FAQ
p It costs 5 gold pieces for the Warlord to destroy the University or the Dragon Gate because the building cost is used, not its worth at the end of the game.

h3 2-Player Game
p Steps One and Two are changed as follows:
ul
h5 Step One
p Draw a random character card and place it face down in the middle of the table.
h5 Step Two:
ul
	li The player with the Crown (Player A) selects a character card and passes the remaining 6 cards to Player B.
	li Player B selects a character card, and then chooses and places another card face down in the middle of the table.  He passes the remaining 4 cards to Player A.
	li Player A selects a character card, and then chooses and places another card face down in the middle of the table.  He passes the remaining 2 cards to Player B.
	li Player B selects a character card, and then places the last card face down in the middle of the table.
	li The players play with two characters each instead of one.  So they will each take two Player Turns, one when each of their chosen characters are called.

h3 3-Player Game
p Steps One and Two are changed as follows:

h5 Step One
p Draw a random character card and place it face down in the middle of the table.
h5 Step Two
ul
	li The player with the Crown selects a card and passes the deck to the left.  This continues around until each player has chosen two cards.  The remaining, unchosen card is placed face down in the middle of the table.
	li The players play with two characters each instead of one.  So they will each take two Player Turns, one when each of their chosen characters are called.

h3 7-Player Game
p Play as a 6-player game except during Choose Characters, when the seventh player is handed the last card, he also secretly looks at the face down card on the table and chooses one of those two cards, placing the other face down in the middle of the table.

h3 8-Player Game
p Play as a 7-player game with the addition of one of the rank 9 character cards.

h3 Bonus Cards
p These are 10 character and 14 district cards marked with white stars.
ul
	li One or two bonus character cards can be swapped in for the same rank members.
	li If you want to play with one of the rank 9 characters in a 4-7 player game, simply increase the number of cards that are placed face up in the middle of the table during Step One by 1 card (EXC: 0 cards for 7 players).
	li You can add 2-3 bonus district cards to the deck.  If you wish to more than 2-3 cards, remove one existing purple district card for each bonus district card added.