h1 Dark Moon

h2 Setup

ol
	li Place two Shield tokens on the first two spots of the Shield Track and place the remaining four in a pile next to the board.
	li Randomly draw and place two Outpost tokens on the appropriate spots on the Outpost Status panel and place the rest in a facedown pile next to the board (the consequences displayed on the drawn Outpost tokens take effect immediately).
	li Place the Fatigue tokens in a pile next to the board.
	li Place the Sabotage, Die, and Quarantine tokens next to the board.
	li Place the red Suspicion cube at the beginning of the VOTE track, a single blue and black cube above the Difficulty track, and the remaining blue cubes (the Event cubes) in a pile next to the board.
	li Shuffle the Character cards and deal one Character card faceup to each player.
	li Give each player the Uninfected Player Screen that matches their Character card.
	li Give each player two black Strong dice and two red Weak dice.
	li Give each player a Participation token.
	li Randomly draw Fatigue tokens until you’ve found one that matches a Character in play. That Character is the starting Commander and receives the Commander card and the blue Commander die (this means that any player who receives the DANIEL Character card will never start the game as the Commander).
	li Randomly draw a Final Event card and place it faceup on the board on the Camera 4 space (alternately, players can agree on which Final Event to use). Place the remaining Final Event cards back in the box; they will not be used this game.
	li
		p Depending on how many players you have, consult the chart on the bottom of the page to determine how many Uninfected and Infected Status cards you’ll need in the game, as well as which deck of Task cards to use.
		p Shuffle the four Infected Status cards together, randomly selecting the number needed for the game and placing them facedown. Place any unused Infected Status cards back in the box without looking at them. Form the Status deck by shuffling the selected Infected Status cards with the correct number of Uninfected Status cards. Deal one Status card to each player, facedown.
		p Choose one player to give a loud, steady count to 10. During the count, every player looks at their Status card at the same time and reads the text silently. Players must not put their cards down until the count is completed, as this gives the Infected team a chance to read their cards without revealing they’re Infected.
table
	thead
		tr
			th 3-Player Game
			th 4-Player Game
			th 5-Player Game
			th 6-Player Game
			th 7-Player Game
	tbody
		tr
			td 1 Infected Status card
			td 1 Infected Status card
			td 2 Infected Status card
			td 2 Infected Status card
			td 3 Infected Status card
		tr
			td 2 Uninfected Status cards
			td 3 Uninfected Status cards
			td 3 Uninfected Status cards
			td 4 Uninfected Status cards
			td 4 Uninfected Status cards
		tr
			td Silver Task Deck <br /> (remove the Voluntary Blood Testing Card)
			td Black Task Deck <br /> (remove the Voluntary Blood Testing Card)
			td Silver Task Deck
			td Black Task Deck
			td Silver Task Deck

h2 Turn Order

p Players complete actions, hold votes, complete Tasks, and finish Events during the game by rolling dice and submitting them. Unless otherwise stated, dice rolls are always private, and a player may never reveal what they rolled to another player. The only dice that are seen publicly are the ones that a player chooses to submit.

ol
	li Retrieve dice
	li Perform an Action
	li Choose a Task Card
	li Resolve the Task Card
	li Add an Event Cube (conditional)
	li Complete the Event (conditional)
	li Select a New Event (conditional)
	li Advance the Suspicion Cube (conditional)
	li Hold a Vote (conditional)

h2 How To Win

h3.subheader Uninfected Victory
p The Uninfected team wins if they survive until the end of the game. In order to survive, they must successfully complete three Events and the Final Event.

h3.subheader Infected Victory
p The Infected team wins if they wipe out the Uninfected team before they can complete the Final Event, either by
ol
	li breaching the shields, thereby destroying the outpost,
	li damaging the outpost beyond any hope of repair, or
	li totally compromising the life support systems so that theentire crew succumbs to fatigue.

p The Infected team wins the instant any one of these three conditions is met. 