h1 Pandemic
h4.subheader +On The Brink +In The Lab

h2  The Board

ol
	li Place research station in Atlanta
	li Place Outbreak marker on 0 (lower left)
	li Place Infection Rate marker on the left most 2 (upper right)
	li #[strong MUTATION] Place Mutation Cure marker near other Cure Spots (lower center)
	li #[strong LAB] Place the 5 petri dishes on the 5 circles
	li #[strong LAB] Shuffle the Sequence cards (Clear sleeves) and place next to Lab board
		ul
			li Turn over the op Sequence card and place it on the upper Sequence spot

h2 Roles

ol
	li Shuffle role cards
		ul
			li Remove the Bio-Terrorist and CDC roles
			li #[strong 2-PLAYER] Remove Epidemiologist and Researcher roles
			li #[strong LAB] Remove Field Operative role
	li Hand each player a Role and its matching marker
	li Hand each player the appropriate (Base or Lab) Player Reference card