h1 The Castles of Burgundy

h2 Setup

ol
	li Make piles near the board of Silverlings (8-sided silver nuggets) and Workers (4-sided '-1 +1' men).
	li Sort the 164 6-sided Tiles by their backs and make separate face-down stacks.
	li Shuffle the 42 Goods (4-sided)  face-down.  There are 7 each of 6 colors.
	li Make 5 face-down piles of 5 Goods and place them below 'A' - 'E' of the game board.  Keep the other 17 aside.
	li Place the 12 Bonus Tiles (4-sided) on their marked spaces in the lower- and upper-right of the game board.
	li Give each player a Player Board (marked '1' at the bottom).
	li Give each player a Castle (dark green, 6-sided tile) to place in the center ('6 die') space of his board.
	li Give each player 3 random Goods (from the stack of 17) to keep face-up on the Goods spaces of his board.

	.panel GOODS NOTES: Stack similar Goods together.  You have space for only 3 different types of Goods.
	
	li Discard remaining Goods from the game.
	li Give each player 2 Dice, 2 Playing Pieces (discs), and 1 Victory Point Tile ('100'/'200') in a color.

	.panel NOTE: Use Victory Point Tile to record points in excess of 100 and 200.
	
	li Players place 1 Playing Piece on '0/100' of the scoring track.
	li Give each player 1 Silverling to place in the upper-left Silverling storage space on his board.
	li Roll for highest.  This is the starting player.
	li Give the starting player 1 Worker (to keep in lower-left of his board), and give 2/3/4 to the 2nd/3rd/4th players.
	li Make a stack of Playing Pieces (start player on top, in turn order on down) to place on the 1st space of the Turn Order Track (circle above '96' on the game board).
	li Give the start player the White Die.

.panel
	#[strong ADVANCED GAME:] Give each player a random Player Board, and allow them to choose which side to play and which dark-green space to place their starting Castle on.

h2 End of Game

ol
	li Players get 1 point per unsold Good, Silverling, and 2 Workers.
	li Players get points for Yellow Tiles #15-26 in their Estates (not in Storage).
	li Most points wins!  Tie?  Most empty Estate spaces.  Still tied?  Player who went later in turn order.