h1 The Settlers of Catan

h2 Setup for New Players
p Beginners should set up the board #[a(href="/images/catan_basicsetup.jpg") according to this example].
p Begin the game with the resource cards produced the 3 terrain areas around the settlements marked with white stars in the image.