h1 The Resistance

h2 Goals
p The Resistance (BLUE) operatives must successfully pass 3/5 missions, while the Spies (RED) must cause 3/5 of the missions to fail. 

p If during any rounds a proposed "mission team" cannot be agreed to (if five different teams are proposed in a row and all are not approved) then the Spies (RED) win.

h2 Set-Up

ol
	li Place the black token on "1" to represent round #1 on the scoring table. 
	li Pass out face down the character cards, one for each player. 
	li Reveal Spies: everyone shuts their eyes; Spies open their eyes to identify one another.

h2 Gameplay

ol
	li Each round starts by giving each player two vote cards (Reject / Approve) used to determine which players are to be included in the mission teams. 
	li Determine "Team Leader" - for the first round it is random; after that it goes clockwise around the table. Give that player the Team Leader card. 
	li The Team Leader passes out team cards to players who he wants to be on the mission; refer to the chart to determine how many members are required. 
	li ALL players vote simultaneously on whether to "Accept" or "Reject" the mission team's composition. If there is majority approval the team is finalized. If not, then the Team Leader card passes to player left of the current one. Repeat same procedure. 
	li Once a Mission Team is approved, then each player on the team receives two missions cards: one "Failure" (RED) and one "Success" (BLUE). 
	li Mission team members secretly vote on whether the mission fails or succeeds by placing face down one of the two cards, which are shuffled and then revealed.
		ul
			li if there is at least one Fail card the mission fails. Place a red token on the chart. 
			li  if all the cards are Success then a blue token is placed on the chart.
			li * Exception: for Mission #4, sometimes two Fail cards are required to fail it. 
	li Shuffle together all the Mission cards (used and unused) and divide into two piles

h2 Plot Cards (5-10 Players)

ul
	li The optional expansion, "The Plot Thickens," includes 15 additional cards. 
	li Team Leader for each round draws a specified amount (5/6 players = 1, 7-8 players = 2, 9-10 players = 3) and gives them to any players he wants (he cannot keep them)
	li These cards give the holding players special abilities for the round they are used.
	li Plot cards are not secret but are placed face up as soon as they are drawn.
	li Those with a star symbol are used immediately and then discarded; those with a square icon remain in play for the entire game, and those with a “1” are held until used.
	li Cards are played in turn order, if desired.